* {
    margin: 0;
    padding: 0;
}
h1{

    text-align: center;
}
.dropdown{

    display:grid;
    justify-content: center;
}s
.wrapper{
    margin: 0 auto;
    width: 1000px;
}
.dropdown{
    padding-bottom: 100px;
}
.card{
   
    
}
#jumbo a{
  
    
}
#jumbo h1{
    text-align:center;
    
}
#jumbo i{
    margin-left: 50px;
    
}
.jumbotron{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/admin.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
.jumbotron2{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/finance.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
.jumbotron3{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/hr.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
.jumbotron4{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/tech.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
.jumbotron5{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/admin2.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media(max-width:768px){
.btn-primary{

    margin:0!important;
}
.fa{

    margin:0!important;
    display: grid!important;
    align-items: center;
    justify-content: center;

}
.links{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(1,auto);
    grid-gap:10px;
}
}